<ion-header>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <form [formGroup]="credentials" (ngSubmit)="login()">
          <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>

          <ion-button type="submit" [disabled]="!credentials.valid" >Login</ion-button>
          <ion-button *ngIf="isAdmin" id="btn_manage" (click)="takeToEditPage()" >Manage timesheets</ion-button>
          <ion-button *ngIf="isAdmin" id="btn_timeSheets" (click)="takeToTimesheet()">Your timesheets</ion-button>
          <ion-button *ngIf="isAdmin" id="btn_timeSheets" (click)="takeToNewUser()">New User</ion-button>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
