<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Staff IT Timesheet Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="logOut()">
    <ion-icon slot="icon-only" name="log-out"></ion-icon>
  </ion-button>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"><ion-icon size="small" name="mail-outline"></ion-icon>Email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button color="tertiary" slot="start">Login</ion-button>
      <ion-button color="danger" slot="end">Clear</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
